body {
    background-image: url(../img/abstract-1673772_960_720.png);
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.main-container {
    /*max-width: 950px;*/
}

.fixed-side-box {
    /*position: fixed;*/
    /*top: 10px;*/
    /*z-index: 1;*/
}

#side-box {
	background-color: bisque;
}

#main-box {
	background-color: burlywood;
}
.top-container {
	height: 500px;
	overflow-y: auto;
}
.affix {
	top: 0;
}