body {
    background-image: url(../img/abstract-1673772_960_720.png);
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.main-container {
    max-width: 1366px;
}

.fixed-side-box {
    position: fixed;
    top: 10px;
    z-index: 1;
}

.fixed-side-box-width {
    width: 455px;
}
